openapi: 3.2.0
info:
  title: SEC API (sec-api.io) REST Filing Query API
  description: REST surface of SEC API (sec-api.io), a commercial developer platform that turns the U.S.
  version: '1.0'
  contact:
    name: SEC API
    url: https://sec-api.io
  license:
    name: API documentation - SEC API Terms of Service
    url: https://sec-api.io/terms-of-service
servers:
- url: https://api.sec-api.io
  description: SEC API REST base
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Filing Query
  description: Search 18M+ EDGAR filings by metadata using Lucene syntax.
paths:
  /:
    post:
      operationId: queryFilings
      tags:
      - Filing Query
      summary: Search EDGAR filings by metadata
      description: Search and filter EDGAR filings (1993-present) across 400+ form types using a Lucene query over filing metadata (formType, ticker, cik, companyName, filedAt, and more). Returns matching filing metadata with document URLs, entities, and data files.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            example:
              query: formType:"10-Q"
              from: '0'
              size: '50'
              sort:
              - filedAt:
                  order: desc
      responses:
        '200':
          description: Matching filings with metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingQueryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Filing:
      type: object
      properties:
        id:
          type: string
        accessionNo:
          type: string
        formType:
          type: string
        filedAt:
          type: string
          format: date-time
        cik:
          type: string
        ticker:
          type: string
        companyName:
          type: string
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
        documentFormatFiles:
          type: array
          items:
            type: object
            additionalProperties: true
        dataFiles:
          type: array
          items:
            type: object
            additionalProperties: true
    QueryRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
          description: Search criteria in Lucene syntax following the field:value format. Maximum 3500 characters.
        from:
          type: string
          description: Zero-based start position for pagination. Default 0, max 10000.
          default: '0'
        size:
          type: string
          description: Number of results per request. Default 50, max 50.
          default: '50'
        sort:
          type: array
          description: Sort configuration. Defaults to filedAt descending.
          items:
            type: object
            additionalProperties: true
    FilingQueryResponse:
      type: object
      properties:
        total:
          type: object
          properties:
            value:
              type: integer
            relation:
              type: string
        filings:
          type: array
          items:
            $ref: '#/components/schemas/Filing'
  responses:
    Unauthorized:
      description: Missing or invalid API token.
    RateLimited:
      description: Rate limit exceeded for your plan.
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed directly in the Authorization header (no `Bearer` prefix), e.g. `Authorization: YOUR_API_KEY`.'
    apiKeyQuery:
      type: apiKey
      in: query
      name: token
      description: API key passed as the `token` query parameter.
